@charset "utf-8";

$red: #b15339;	
$primary: $red;
$beige: #e7e1ca;
$grey-dark: #363636;
$grey-lighter: #dbdbdb;
$orange: #eac03e;
$green: #00b084;

$warning: $orange;
$danger: $red;

$body-background-color: $beige;
$text: $grey-dark;

$input-shadow: none;
//$input-border-color: transparent;
//$input-radius: 0;

@import "bulma-0.7.5/bulma.sass";
@import "checkradio.sass";
@import "juke.sass";
